{% extends 'base.html' %}


{% block ajax %}
<form id="post-form" method="POST">
  {% csrf_token %}
  {{form.as_p }}
  <input type="submit" name="contact-submit" class="btn btn-success btn-lg" />
</form>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#post-form').submit(function () {
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // GET или POST
                  url: "{% url 'test_ajax' %}",
                  // если успешно, то
                  success: function (response) {
                    console.log('ok');
                  },
                  // если ошибка, то
                  error: function (response) {
                      // предупредим об ошибке
                      console.log(response.responseJSON.errors)
                  }
              });
              return false;
          });
      })

  </script>
{% endblock ajax %}
    
